<div class="container-fluid add-inventory-form">
  <form>
    <div class="row add-inventory-form-header">
      <div class="col-xs-8">
        <label for='name'>NAME</label>
      </div>
      <div class="col-xs-2">
        <label for='condition'>COND</label>
      </div>
      <div class="col-xs-2">
        <label for='quantiy'>QTY</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-8">
        {{input id='name' type="text" value=name placeholder='Enter Name' class='form-control'}}
      </div>
      <div class="col-xs-2">
        {{input id='condition' type="text"  class='form-control'}}
      </div>
      <div class="col-xs-2">
        {{input id='quanity' type="text" value=quanity class='form-control'}}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6">
        <div class="row add-inventory-form-header" style="border-right:0px;">
          <div class="col-xs-12">
            <label for='category'>Category</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            {{input id='category' type="text" value=typeName class='form-control'}}
          </div>
        </div>
        <br>
        {{#if comic}}
        <div class="row add-inventory-form-header">
          <div class="col-xs-4">
            <label for='writer'>Writer</label>
          </div>
          <div class="col-xs-4">
            <label for='illustrator'>Illustrator</label>
          </div>
          <div class="col-xs-4">
            <label for='issue_num'>Issue Number</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4">
            {{input id='writer' type="text" class='form-control'}}
          </div>
          <div class="col-xs-4">
            {{input id='illustrator' type="text" class='form-control'}}
          </div>
          <div class="col-xs-4">
            {{input id='issue_num' type="text" value=issue_num class='form-control'}}
          </div>
        </div>
        <br>
        {{/if}}
      </div>
      <div class="col-xs-6">
        <div class="row add-inventory-form-header" style="border-left:0px;">
          <div class="col-xs-12">
            <label for='tags'>Add Tags</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            {{input id='tags' type="text"  class='form-control'}}
          </div>
        </div>
      </div>
    </div>
    <br>
  </form>
</div>
