<form {{action 'addItem' on='submit'}}>
    <div class="row add-inventory-form-header">
      <div class="col-xs-10">
        <label for='name'>NAME</label>
      </div>
      <div class="col-xs-2">
        <label for='quantiy'>QTY</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-10">
        {{input id='name' type="text" value=name placeholder='Enter Name' class='form-control'}}
      </div>
      <div class="col-xs-2">
        {{input id='quanity' type="number" value=quanity class='form-control'}}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6">
        <div class="row add-inventory-form-header" style="border-right:0px;">
          <div class="col-xs-5">
            <label for='category'>Category</label>
          </div>
          <div class="col-xs-3">
            <label for='price'>Price</label>
          </div>
          <div class="col-xs-4">
            <label for='sales_price'>Sales Price</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-5">
            <p>{{typeName}}</p>
          </div>
          <div class="col-xs-3">
            {{input id='price' type="text" value=price class='form-control'}}
          </div>
          <div class="col-xs-4">
            {{input id='sales_price' type="text" value=sales_price class='form-control'}}
          </div>
        </div>
        <br>
        {{#if book}}
        <div class="row add-inventory-form-header">
          <div class="col-xs-6">
            <label for='writer'>Writer</label>
          </div>
          <div class="col-xs-6">
            <label for='illustrator'>Illustrator</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6 form-group">
            <select class="form-control" onchange={{action 'setWriters'}} multiple>
              {{#each writers as |writer|}}
                <option value={{writer.id}}>{{writer.full_name}}</option>
              {{/each}}
              <option value="other">new</option>
            </select>
          </div>
          <div class="col-xs-6 form-group">
            <select class="form-control" onchange={{action 'setIllustrators'}} multiple>
              {{#each illustrators as |illustrator|}}
                <option value={{illustrator.id}}>{{illustrator.full_name}}</option>
              {{/each}}
              <option value="other" >new</option>
            </select>

          </div>
        </div>
        <br>
        <div class="row add-inventory-form-header">
          {{#if comic}}
          <div class="col-xs-4">
            <label for='issue_num'>Issue Number</label>
          </div>
          {{/if}}
          {{#if trade}}
          <div class="col-xs-4">
            <label for='vol_num'>Volume Number</label>
          </div>
          <div class="col-xs-4">
            <label for='bindingType'>Binding Type</label>
          </div>
          {{/if}}
        </div>
        <br>
        <div class="row">
          {{#if comic}}
          <div class="col-xs-4">
            <select class="form-control" onchange={{action 'setIssueNum' value='target.value'}}>
              <option value="" disabled selected>Issue #</option>
              {{#each details as |detail|}}
                <option value={{detail.id}}>{{detail.issue_num}}</option>
              {{/each}}
              <option value="other">new</option>
            </select>
            {{#if newComic}}
            {{input id='issue_num' type="text" value=issue_num class='form-control'}}
            {{/if}}
          </div>
          {{/if}}
          {{#if trade}}
          <div class="col-xs-4">
            {{input id='vol_num' type="text" value=vol_num class='form-control'}}
          </div>
          <div class="col-xs-4">
            {{ember-selectize
              content=bindingChoices
              optionValuePath="content.name"
              optionLabelPath="content.name"
              selection=bindingChoice
              value=bindingType
              placeholder="Select an item" }}
          </div>
          {{/if}}
        </div>
        <br>
        {{/if}}
        {{#if apparel}}
        <div class="row add-inventory-form-header">
          <div class="col-xs-6">
            <label for='size'>Size</label>
          </div>
          <div class="col-xs-6">
            <label for='gender'>Gender</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
            <select class="form-control" onchange={{action 'setSize' value='target.value'}}>
              {{#each details as |detail|}}
                <option value={{detail.id}}>{{detail.size}}</option>
              {{/each}}
            </select>
          </div>
          <div class="col-xs-6">
            {{ember-selectize
              content=genderTypes
              optionValuePath="content.name"
              optionLabelPath="content.name"
              selection=genderChoice
              value=gender
              placeholder="Select an item" }}
          </div>
        </div>
        <br>
        {{/if}}

        {{#if figure}}
        <div class="row add-inventory-form-header">
          <div class="col-xs-6">
            <label for='figureType'>Figure Type</label>
          </div>
          <div class="col-xs-6">
            <label for='materialType'>Material Type</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
            {{ember-selectize
              content=figureChoices
              optionValuePath="content.name"
              optionLabelPath="content.name"
              selection=figureChoice
              value=figureType
              placeholder="Select an item" }}
          </div>
          <div class="col-xs-6">
            {{ember-selectize
              content=materialChoices
              optionValuePath="content.name"
              optionLabelPath="content.name"
              selection=materialChoice
              value=materialType
              placeholder="Select an item" }}
          </div>
        </div>
        <br>
        {{/if}}
        {{#if game}}
        <div class="row add-inventory-form-header">
          <div class="col-xs-12">
            <label for='gameType'>Game Type</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            {{ember-selectize
              content=gameChoices
              optionValuePath="content.name"
              optionLabelPath="content.name"
              selection=gameChoice
              value=gameType
              placeholder="Select an item" }}
          </div>
        </div>
        <br>
        {{/if}}
      </div>
      <div class="col-xs-6">
        <div class="row add-inventory-form-header" style="border-left:0px;">
          <div class="col-xs-12">
            <label for='tags'>Add Tags</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 form-group">
            {{ember-selectize
              content=tagChoices
              optionValuePath="content.id"
              optionLabelPath="content.name"
              multiple=true
              selection=tagOptions
              placeholder="Select an item" }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="row add-inventory-form-header">
          <div class="col-xs-4">
            <label>Cost</label>
          </div>
          <div class="col-xs-4">
            <label>Vendor</label>
          </div>
          <div class="col-xs-4">
            <label>Brand</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            {{total}}
          </div>
          <div class="col-xs-4">
            {{#if newVendor}}
              <select class="form-control" onchange={{action 'setVendor' value='target.value'}}>
                {{#each vendors as |vendor|}}
                  <option value={{vendor.id}}>{{vendor.name}}</option>
                {{/each}}
              </select>
            {{else}}
              {{vendor.name}}
            {{/if}}

          </div>
          <div class="col-xs-4">
            {{#if newBrand}}
            <select class="form-control" onchange={{action 'setBrand' value='target.value'}}>
              {{#each brands as |brand|}}
                <option value={{brand.id}}>{{brand.name}}</option>
              {{/each}}
            </select>
            {{else}}
              {{brand.name}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <button type='submit' class='btn btn-primary'>Add Item</button>
      </div>
    </div>
    <br>
    </form>
