<li>{{link-to 'Sales Reports' 'adminpage.sales_report' }}</li>
<li>{{link-to 'Tags' 'adminpage.tags'}}</li>
<li>{{link-to 'Alerts' 'adminpage.alerts'}}</li>
<li>{{link-to 'Invoices' 'adminpage.invoices'}}</li>
<li>{{link-to 'Users' 'adminpage.employees'}}</li>
<li>{{link-to 'Logs' 'adminpage.logs'}}</li>
