<div id="wrapper">
  <div id="sidebar-wrapper" >
  <ul class="sidebar-nav">
    <li>
      {{link-to 'View Inventory' 'general.view_inventory' }}
    </li>
    <li>
      {{link-to 'Search' 'general.view_inventory'}}
    </li>
    <li>
      {{link-to 'Subscriptions' 'general.subscriptions'}}
    </li>
    <li>
      {{link-to 'Add Inventory' 'general.add_inventory' (query-params id="null")}}
    </li>
    <li>
      {{link-to 'File Request' 'general.view_inventory'}}
    </li>
    <li>
      {{link-to 'Help' 'general.view_inventory'}}
    </li>
  </ul>
  </div>
  <div id="page-content-wrapper">
      {{outlet}}
  </div>
</div>
