<!--
<div class="container-fluid">
  <div id="page-content-wrapper">
<div class="row">
  <div class="btn-group btn-group-justified" role="button">
    <div class="btn-group">

    </div>
    <div class="btn-group">
      {{link-to 'Search' 'view_inventory' class='btn background'}}
    </div>
    <div class="btn-group">
      {{link-to 'Subsriptions' 'view_inventory' class='btn background'}}
    </div>
  </div>
</div>
<div class="row">
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group">
      {{link-to 'Add Inventory' 'view_inventory' class='btn background'}}
    </div>
    <div class="btn-group">
      {{link-to 'File Request' 'view_inventory' class='btn background'}}
    </div>
    <div class="btn-group">
      {{link-to 'Help' 'view_inventory' class='btn background'}}
    </div>
  </div>
</div>
</div>
</div> -->
