
  <div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      {{link-to 'View Inventory' 'index' }}
    </li>
    <li>
      {{link-to 'Search' 'index'}}
    </li>
    <li>
      {{link-to 'Subscriptions' 'index'}}
    </li>
    <li>
      {{link-to 'Add Inventory' 'index'}}
    </li>
    <li>
      {{link-to 'File Request' 'index'}}
    </li>
    <li>
      {{link-to 'Help' 'index'}}
    </li>
  </ul>
  </div>

  <div id="page-content-wrapper">
      <p>HELLO</p>
  </div>
