<div id="wrapper">
  <div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      {{link-to 'Stuff1' 'index'}}
    </li>
    <li>
      {{link-to 'Stuff2' 'index'}}
    </li>
    <li>
      {{link-to 'stuff3' 'index'}}
    </li>
    <li>
      {{link-to 'Stuff4' 'index'}}
    </li>
    <li>
      {{link-to 'Stuff5' 'index'}}
    </li>
    <li>
      {{link-to 'Stuff6' 'index'}}
    </li>
  </ul>
</div>
  <div id="page-content-wrapper">

      {{outlet}}
  
  </div>
</div>
